WebSite1/App_WebReferences/ElasticServiceMobile/ServiceMobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMobile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMElasticWebsite.DomainDTO" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMRecruiteeWebsite.DomainDTO" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMJobWebsite.DomainDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMobile_selectAllTask_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllTask" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectTaskById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectTaskById" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectTaskById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectTaskByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertTask_InputMessage">
    <wsdl:part name="parameters" element="tns:insertTask" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTask" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTask" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectRecruiteeById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeById" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectRecruiteeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_createRecruiteeDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:createRecruiteeDTO" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_createRecruiteeDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRecruiteeDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllJob_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllJob" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllJobResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectJobById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectJobById" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectJobById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectJobByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertJob_InputMessage">
    <wsdl:part name="parameters" element="tns:insertJob" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertJobResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJob" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteJob_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteJob" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteJobResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_createJobDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:createJobDTO" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_createJobDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:createJobDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllSkillJob_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllSkillJob" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllSkillJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllSkillJobResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectSkillJobById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectSkillJobById" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectSkillJobById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectSkillJobByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllSkillRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllSkillRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllSkillRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllSkillRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectSKillRecruiteeById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectSKillRecruiteeById" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectSKillRecruiteeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectSKillRecruiteeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectAllRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectRankingById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRankingById" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_selectRankingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRankingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_insertRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_updateRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_deleteRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_createRankingDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:createRankingDTO" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_createRankingDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRankingDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_addSkillToRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:addSkillToRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceMobile_addSkillToRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSkillToRecruiteeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMobile">
    <wsdl:operation name="selectAllTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectAllTask" message="tns:IServiceMobile_selectAllTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectAllTaskResponse" message="tns:IServiceMobile_selectAllTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectTaskById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectTaskById" message="tns:IServiceMobile_selectTaskById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectTaskByIdResponse" message="tns:IServiceMobile_selectTaskById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/insertTask" message="tns:IServiceMobile_insertTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/insertTaskResponse" message="tns:IServiceMobile_insertTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/updateTask" message="tns:IServiceMobile_updateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/updateTaskResponse" message="tns:IServiceMobile_updateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/deleteTask" message="tns:IServiceMobile_deleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/deleteTaskResponse" message="tns:IServiceMobile_deleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectAllRecruitee" message="tns:IServiceMobile_selectAllRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectAllRecruiteeResponse" message="tns:IServiceMobile_selectAllRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectRecruiteeById" message="tns:IServiceMobile_selectRecruiteeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectRecruiteeByIdResponse" message="tns:IServiceMobile_selectRecruiteeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/insertRecruitee" message="tns:IServiceMobile_insertRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/insertRecruiteeResponse" message="tns:IServiceMobile_insertRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/updateRecruitee" message="tns:IServiceMobile_updateRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/updateRecruiteeResponse" message="tns:IServiceMobile_updateRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/deleteRecruitee" message="tns:IServiceMobile_deleteRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/deleteRecruiteeResponse" message="tns:IServiceMobile_deleteRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRecruiteeDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/createRecruiteeDTO" message="tns:IServiceMobile_createRecruiteeDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/createRecruiteeDTOResponse" message="tns:IServiceMobile_createRecruiteeDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectAllJob" message="tns:IServiceMobile_selectAllJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectAllJobResponse" message="tns:IServiceMobile_selectAllJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectJobById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectJobById" message="tns:IServiceMobile_selectJobById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectJobByIdResponse" message="tns:IServiceMobile_selectJobById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/insertJob" message="tns:IServiceMobile_insertJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/insertJobResponse" message="tns:IServiceMobile_insertJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/updateJob" message="tns:IServiceMobile_updateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/updateJobResponse" message="tns:IServiceMobile_updateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/deleteJob" message="tns:IServiceMobile_deleteJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/deleteJobResponse" message="tns:IServiceMobile_deleteJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createJobDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/createJobDTO" message="tns:IServiceMobile_createJobDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/createJobDTOResponse" message="tns:IServiceMobile_createJobDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllSkillJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectAllSkillJob" message="tns:IServiceMobile_selectAllSkillJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectAllSkillJobResponse" message="tns:IServiceMobile_selectAllSkillJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectSkillJobById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectSkillJobById" message="tns:IServiceMobile_selectSkillJobById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectSkillJobByIdResponse" message="tns:IServiceMobile_selectSkillJobById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllSkillRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectAllSkillRecruitee" message="tns:IServiceMobile_selectAllSkillRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectAllSkillRecruiteeResponse" message="tns:IServiceMobile_selectAllSkillRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectSKillRecruiteeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectSKillRecruiteeById" message="tns:IServiceMobile_selectSKillRecruiteeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectSKillRecruiteeByIdResponse" message="tns:IServiceMobile_selectSKillRecruiteeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectAllRanking" message="tns:IServiceMobile_selectAllRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectAllRankingResponse" message="tns:IServiceMobile_selectAllRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRankingById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/selectRankingById" message="tns:IServiceMobile_selectRankingById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/selectRankingByIdResponse" message="tns:IServiceMobile_selectRankingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/insertRanking" message="tns:IServiceMobile_insertRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/insertRankingResponse" message="tns:IServiceMobile_insertRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/updateRanking" message="tns:IServiceMobile_updateRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/updateRankingResponse" message="tns:IServiceMobile_updateRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/deleteRanking" message="tns:IServiceMobile_deleteRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/deleteRankingResponse" message="tns:IServiceMobile_deleteRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRankingDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/createRankingDTO" message="tns:IServiceMobile_createRankingDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/createRankingDTOResponse" message="tns:IServiceMobile_createRankingDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSkillToRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMobile/addSkillToRecruitee" message="tns:IServiceMobile_addSkillToRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMobile/addSkillToRecruiteeResponse" message="tns:IServiceMobile_addSkillToRecruitee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMobile" type="tns:IServiceMobile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllTask">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectAllTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectTaskById">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectTaskById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTask">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/insertTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/updateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTask">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/deleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectAllRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeById">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectRecruiteeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/insertRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/updateRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/deleteRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRecruiteeDTO">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/createRecruiteeDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllJob">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectAllJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectJobById">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectJobById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertJob">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/insertJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJob">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/updateJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteJob">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/deleteJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createJobDTO">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/createJobDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllSkillJob">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectAllSkillJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSkillJobById">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectSkillJobById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllSkillRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectAllSkillRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSKillRecruiteeById">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectSKillRecruiteeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectAllRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRankingById">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/selectRankingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/insertRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/updateRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/deleteRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRankingDTO">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/createRankingDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSkillToRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceMobile/addSkillToRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMobile">
    <wsdl:port name="BasicHttpBinding_IServiceMobile" binding="tns:BasicHttpBinding_IServiceMobile">
      <soap:address location="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>